
  body {
    background-color: white;
  }
  h1 {
    text-align: center;
  }
  footer{
    text-align: center;
  }
  p{
    font-weight: bold;
  }
  span{
    font-weight: normal;
  }

  .principal{
    display: flex;
    flex-direction: row;
  }
  .seccionIzquierda{
    flex: 1;
    background-color: gainsboro;
    padding: 10px 10px 10px 10px;
  }
  .seccionIzquierda img{
    max-width: 100%;
  }
  .seccionDerecha{
    flex: 4;
    padding: 10px 10px 10px 10px;
    background-color: rgb(230, 244, 249);
  }
  footer{
    align-self: top;
  }
  .espol{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .espolDetalle{
    flex: 3;
  }
  .espolDetalle p{
    margin-bottom: 1.5em;
  }
  .espolMapa{
    flex: 2;
  }
  .tes{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .tesDetalle{
    flex: 3;
  }
  .tesDetalle p{
    margin-bottom: 1.5em;
  }
  .tesMapa{
    flex: 2;
  }
  iframe{
    height: 100%;
  }
