@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Libre+Franklin:wght@300&family=Montserrat:wght@600&display=swap');
  *{
    font-family: 'Libre Franklin', serif;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  h1{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
  }
  .subtitulo{
    font-family: 'Frank Ruhl Libre', Arial, sans-serif;
  }
  nav{
    background-color: black;
    width: 100%;
  }
  nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  nav a{
    color: white;
  }
  a{
    text-decoration: none;
  }
  footer{
    text-align: center;
  }
  p{
    font-weight: bold;
  }
  span{
    font-weight: normal;
  }
  .principal{
    display: flex;
    flex-direction: row;
  }
  .seccionIzquierda{
    flex: 1;
    background-color: #414d62;
    padding: 10px 10px 10px 10px;
    color:white;
  }
  .seccionIzquierda img{
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
  }
  .seccionDerecha{
    flex: 4;
    background-color: rgb(243, 246, 244);
    padding: 10px 10px 10px 10px;
    color: black;
  }
  .seccionDerecha p{
    margin-bottom: 1.5em;
  }
  footer{
    align-self: top;
  }
  .espol{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .espolDetalle{
    flex: 3;
  }
  .espolMapa{
    flex: 2;
  }
  .tes{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .tesDetalle{
    flex: 3;
  }
  .tesMapa{
    flex: 2;
  }
  iframe{
    border-radius: 15px;
    overflow: hidden;
  }
  
